@charset 'utf-8';

* {
  box-sizing: border-box;
}

body {
  font: 30px sans-serif;
}

.app {
  width: 960px;
  margin: 0 auto;
}

.user-info img {
  float: left;
}

.user-info h1 {
  float: left;
  font-size: 40px;
  margin: 0 0 0 15px;
}

.user-info .repos-info {
  float: left;
  margin-left: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
  clear: both;
  padding-top: 15px;
}

.actions button {
  padding: 20px 120px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.repos h2,
.starred h2 {
  font-size: 30px;
}

.repos li,
.starred li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.repos a,
.starred a {
  text-decoration: none;
}
